Servicios_ChivoMarket/src/conf/xml-resources/web-service-references/Servicios_Pedidos/wsdl/localhost_8080/ChivoMarket/Servicios_Pedidos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="ActualizarPedido" type="tns:ActualizarPedido"/>

<xs:element name="ActualizarPedidoResponse" type="tns:ActualizarPedidoResponse"/>

<xs:element name="Buscar_Carrito" type="tns:Buscar_Carrito"/>

<xs:element name="Buscar_CarritoResponse" type="tns:Buscar_CarritoResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="Insertar_Carro" type="tns:Insertar_Carro"/>

<xs:element name="Insertar_CarroResponse" type="tns:Insertar_CarroResponse"/>

<xs:complexType name="Buscar_Carrito">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Buscar_CarritoResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedidos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedidos">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
<xs:element name="ID_Usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarPedido">
<xs:sequence>
<xs:element name="ID_Pedido" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
<xs:element name="Cantidad" type="xs:int"/>
<xs:element name="Devuelto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="ID_Pedido" type="xs:int"/>
<xs:element name="ID_USER" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedidos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insertar_Carro">
<xs:sequence>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Precio" type="xs:double"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="Estado" type="xs:int"/>
<xs:element name="ID_Usuario" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insertar_CarroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>