Servicios_ChivoMarket/src/conf/xml-resources/web-service-references/Servicios_Pedidos/wsdl/localhost_8080/ChivoMarket/Servicios_Pedidos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="Servicios_Pedidos">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ChivoMarket/Servicios_Pedidos?xsd=1"/>
</xsd:schema>
</types>
<message name="ActualizarPedido">
<part name="parameters" element="tns:ActualizarPedido"/>
</message>
<message name="ActualizarPedidoResponse">
<part name="parameters" element="tns:ActualizarPedidoResponse"/>
</message>
<message name="Buscar_Carrito">
<part name="parameters" element="tns:Buscar_Carrito"/>
</message>
<message name="Buscar_CarritoResponse">
<part name="parameters" element="tns:Buscar_CarritoResponse"/>
</message>
<message name="Insertar_Carro">
<part name="parameters" element="tns:Insertar_Carro"/>
</message>
<message name="Insertar_CarroResponse">
<part name="parameters" element="tns:Insertar_CarroResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<portType name="Servicios_Pedidos">
<operation name="ActualizarPedido">
<input wsam:Action="http://Service/Servicios_Pedidos/ActualizarPedidoRequest" message="tns:ActualizarPedido"/>
<output wsam:Action="http://Service/Servicios_Pedidos/ActualizarPedidoResponse" message="tns:ActualizarPedidoResponse"/>
</operation>
<operation name="Buscar_Carrito">
<input wsam:Action="http://Service/Servicios_Pedidos/Buscar_CarritoRequest" message="tns:Buscar_Carrito"/>
<output wsam:Action="http://Service/Servicios_Pedidos/Buscar_CarritoResponse" message="tns:Buscar_CarritoResponse"/>
</operation>
<operation name="Insertar_Carro">
<input wsam:Action="http://Service/Servicios_Pedidos/Insertar_CarroRequest" message="tns:Insertar_Carro"/>
<output wsam:Action="http://Service/Servicios_Pedidos/Insertar_CarroResponse" message="tns:Insertar_CarroResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://Service/Servicios_Pedidos/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://Service/Servicios_Pedidos/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
</portType>
<binding name="Servicios_PedidosPortBinding" type="tns:Servicios_Pedidos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ActualizarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Buscar_Carrito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Insertar_Carro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios_Pedidos">
<port name="Servicios_PedidosPort" binding="tns:Servicios_PedidosPortBinding">
<soap:address location="http://localhost:8080/ChivoMarket/Servicios_Pedidos"/>
</port>
</service>
</definitions>