Servicios_ChivoMarket/web/WEB-INF/wsdl/localhost_8080/ChivoMarket/Servicios_Ticket.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="Servicios_Ticket">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ChivoMarket/Servicios_Ticket?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="Cancelar">
<part name="parameters" element="tns:Cancelar"/>
</message>
<message name="CancelarResponse">
<part name="parameters" element="tns:CancelarResponse"/>
</message>
<message name="BusquedaT">
<part name="parameters" element="tns:BusquedaT"/>
</message>
<message name="BusquedaTResponse">
<part name="parameters" element="tns:BusquedaTResponse"/>
</message>
<message name="Generacion">
<part name="parameters" element="tns:Generacion"/>
</message>
<message name="GeneracionResponse">
<part name="parameters" element="tns:GeneracionResponse"/>
</message>
<message name="ActualizarT">
<part name="parameters" element="tns:ActualizarT"/>
</message>
<message name="ActualizarTResponse">
<part name="parameters" element="tns:ActualizarTResponse"/>
</message>
<portType name="Servicios_Ticket">
<operation name="Delete">
<input wsam:Action="http://Service/Servicios_Ticket/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://Service/Servicios_Ticket/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="Cancelar">
<input wsam:Action="http://Service/Servicios_Ticket/CancelarRequest" message="tns:Cancelar"/>
<output wsam:Action="http://Service/Servicios_Ticket/CancelarResponse" message="tns:CancelarResponse"/>
</operation>
<operation name="BusquedaT">
<input wsam:Action="http://Service/Servicios_Ticket/BusquedaTRequest" message="tns:BusquedaT"/>
<output wsam:Action="http://Service/Servicios_Ticket/BusquedaTResponse" message="tns:BusquedaTResponse"/>
</operation>
<operation name="Generacion">
<input wsam:Action="http://Service/Servicios_Ticket/GeneracionRequest" message="tns:Generacion"/>
<output wsam:Action="http://Service/Servicios_Ticket/GeneracionResponse" message="tns:GeneracionResponse"/>
</operation>
<operation name="ActualizarT">
<input wsam:Action="http://Service/Servicios_Ticket/ActualizarTRequest" message="tns:ActualizarT"/>
<output wsam:Action="http://Service/Servicios_Ticket/ActualizarTResponse" message="tns:ActualizarTResponse"/>
</operation>
</portType>
<binding name="Servicios_TicketPortBinding" type="tns:Servicios_Ticket">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BusquedaT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Generacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios_Ticket">
<port name="Servicios_TicketPort" binding="tns:Servicios_TicketPortBinding">
<soap:address location="http://localhost:8080/ChivoMarket/Servicios_Ticket"/>
</port>
</service>
</definitions>