Servicios_ChivoMarket/src/conf/xml-resources/web-service-references/ServiciosTrabajador/wsdl/localhost_8080/ChivoMarket/ServiciosTrabajador.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="ActualizarTrabajador" type="tns:ActualizarTrabajador"/>

<xs:element name="ActualizarTrabajadorResponse" type="tns:ActualizarTrabajadorResponse"/>

<xs:element name="EliminarT" type="tns:EliminarT"/>

<xs:element name="EliminarTResponse" type="tns:EliminarTResponse"/>

<xs:element name="Insertar_Trabajador" type="tns:Insertar_Trabajador"/>

<xs:element name="Insertar_TrabajadorResponse" type="tns:Insertar_TrabajadorResponse"/>

<xs:element name="Listar" type="tns:Listar"/>

<xs:element name="ListarEspecifico" type="tns:ListarEspecifico"/>

<xs:element name="ListarEspecificoResponse" type="tns:ListarEspecificoResponse"/>

<xs:element name="ListarResponse" type="tns:ListarResponse"/>

<xs:element name="ValidarTrabajador" type="tns:ValidarTrabajador"/>

<xs:element name="ValidarTrabajadorResponse" type="tns:ValidarTrabajadorResponse"/>

<xs:complexType name="ValidarTrabajador">
<xs:sequence>
<xs:element name="Contra" type="xs:string" minOccurs="0"/>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarTrabajadorResponse">
<xs:sequence>
<xs:element name="return" type="tns:trabajador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trabajador">
<xs:sequence>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="DUI" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="ID_ROL" type="xs:int"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="numero" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarT">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarTResponse">
<xs:sequence>
<xs:element name="return" type="tns:trabajador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarEspecifico">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarEspecificoResponse">
<xs:sequence>
<xs:element name="return" type="tns:trabajador" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insertar_Trabajador">
<xs:sequence>
<xs:element name="Nickname" type="xs:string" minOccurs="0"/>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
<xs:element name="Contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="Numero" type="xs:string" minOccurs="0"/>
<xs:element name="DUI" type="xs:string" minOccurs="0"/>
<xs:element name="IDROL" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insertar_TrabajadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarTrabajador">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="Nickname" type="xs:string" minOccurs="0"/>
<xs:element name="Correo" type="xs:string" minOccurs="0"/>
<xs:element name="Contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="Numero" type="xs:string" minOccurs="0"/>
<xs:element name="DUI" type="xs:string" minOccurs="0"/>
<xs:element name="ID_ROL" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarTrabajadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarResponse">
<xs:sequence>
<xs:element name="return" type="tns:trabajador" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>