Servicios_ChivoMarket/src/conf/xml-resources/web-service-references/ServiciosTrabajador/wsdl/localhost_8080/ChivoMarket/ServiciosTrabajador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="ServiciosTrabajador">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ChivoMarket/ServiciosTrabajador?xsd=1"/>
</xsd:schema>
</types>
<message name="ValidarTrabajador">
<part name="parameters" element="tns:ValidarTrabajador"/>
</message>
<message name="ValidarTrabajadorResponse">
<part name="parameters" element="tns:ValidarTrabajadorResponse"/>
</message>
<message name="Insertar_Trabajador">
<part name="parameters" element="tns:Insertar_Trabajador"/>
</message>
<message name="Insertar_TrabajadorResponse">
<part name="parameters" element="tns:Insertar_TrabajadorResponse"/>
</message>
<message name="ActualizarTrabajador">
<part name="parameters" element="tns:ActualizarTrabajador"/>
</message>
<message name="ActualizarTrabajadorResponse">
<part name="parameters" element="tns:ActualizarTrabajadorResponse"/>
</message>
<message name="ListarEspecifico">
<part name="parameters" element="tns:ListarEspecifico"/>
</message>
<message name="ListarEspecificoResponse">
<part name="parameters" element="tns:ListarEspecificoResponse"/>
</message>
<message name="EliminarT">
<part name="parameters" element="tns:EliminarT"/>
</message>
<message name="EliminarTResponse">
<part name="parameters" element="tns:EliminarTResponse"/>
</message>
<message name="Listar">
<part name="parameters" element="tns:Listar"/>
</message>
<message name="ListarResponse">
<part name="parameters" element="tns:ListarResponse"/>
</message>
<portType name="ServiciosTrabajador">
<operation name="ValidarTrabajador">
<input wsam:Action="http://Service/ServiciosTrabajador/ValidarTrabajadorRequest" message="tns:ValidarTrabajador"/>
<output wsam:Action="http://Service/ServiciosTrabajador/ValidarTrabajadorResponse" message="tns:ValidarTrabajadorResponse"/>
</operation>
<operation name="Insertar_Trabajador">
<input wsam:Action="http://Service/ServiciosTrabajador/Insertar_TrabajadorRequest" message="tns:Insertar_Trabajador"/>
<output wsam:Action="http://Service/ServiciosTrabajador/Insertar_TrabajadorResponse" message="tns:Insertar_TrabajadorResponse"/>
</operation>
<operation name="ActualizarTrabajador">
<input wsam:Action="http://Service/ServiciosTrabajador/ActualizarTrabajadorRequest" message="tns:ActualizarTrabajador"/>
<output wsam:Action="http://Service/ServiciosTrabajador/ActualizarTrabajadorResponse" message="tns:ActualizarTrabajadorResponse"/>
</operation>
<operation name="ListarEspecifico">
<input wsam:Action="http://Service/ServiciosTrabajador/ListarEspecificoRequest" message="tns:ListarEspecifico"/>
<output wsam:Action="http://Service/ServiciosTrabajador/ListarEspecificoResponse" message="tns:ListarEspecificoResponse"/>
</operation>
<operation name="EliminarT">
<input wsam:Action="http://Service/ServiciosTrabajador/EliminarTRequest" message="tns:EliminarT"/>
<output wsam:Action="http://Service/ServiciosTrabajador/EliminarTResponse" message="tns:EliminarTResponse"/>
</operation>
<operation name="Listar">
<input wsam:Action="http://Service/ServiciosTrabajador/ListarRequest" message="tns:Listar"/>
<output wsam:Action="http://Service/ServiciosTrabajador/ListarResponse" message="tns:ListarResponse"/>
</operation>
</portType>
<binding name="ServiciosTrabajadorPortBinding" type="tns:ServiciosTrabajador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidarTrabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Insertar_Trabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarTrabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEspecifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosTrabajador">
<port name="ServiciosTrabajadorPort" binding="tns:ServiciosTrabajadorPortBinding">
<soap:address location="http://localhost:8080/ChivoMarket/ServiciosTrabajador"/>
</port>
</service>
</definitions>