Servicios_ChivoMarket/src/conf/xml-resources/web-service-references/Servicios_Ticket/wsdl/localhost_8080/ChivoMarket/Servicios_Ticket.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="ActualizarT" type="tns:ActualizarT"/>

<xs:element name="ActualizarTResponse" type="tns:ActualizarTResponse"/>

<xs:element name="BusquedaT" type="tns:BusquedaT"/>

<xs:element name="BusquedaTResponse" type="tns:BusquedaTResponse"/>

<xs:element name="Cancelar" type="tns:Cancelar"/>

<xs:element name="CancelarResponse" type="tns:CancelarResponse"/>

<xs:element name="Delete" type="tns:Delete"/>

<xs:element name="DeleteResponse" type="tns:DeleteResponse"/>

<xs:element name="Generacion" type="tns:Generacion"/>

<xs:element name="GeneracionResponse" type="tns:GeneracionResponse"/>

<xs:complexType name="Generacion">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GeneracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cancelar">
<xs:sequence>
<xs:element name="ID_Usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaT">
<xs:sequence>
<xs:element name="ID_Usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BusquedaTResponse">
<xs:sequence>
<xs:element name="return" type="tns:ticket" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticket">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="estado" type="xs:int"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
<xs:element name="ID_Usuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarT">
<xs:sequence>
<xs:element name="ID_Ticket" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
<xs:element name="Cantidad" type="xs:int"/>
<xs:element name="Devuelto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarTResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Delete">
<xs:sequence>
<xs:element name="ID_Ticket" type="xs:int"/>
<xs:element name="ID_Producto" type="xs:int"/>
<xs:element name="Cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteResponse">
<xs:sequence>
<xs:element name="return" type="tns:ticket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>